

.couleur_titre {
  color:#939393;
}

.attachinary-input {
  color:red;
}

.photo_upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photo_upload_label {
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 1px;
  color: white;
  background-color: #fff;
  text-indent: 31px;
  border: 1px solid #ccc;
  width: 57%;
  display: inline-block;
  cursor: pointer;
    &:focus{
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
}

.photo_upload_label:focus, .photo_upload_label:hover {
  background-color: #fff;
}

.input-group {
    position: relative;
    width: 174%;
  i {
      position: absolute;
      left: 11px;
      top: 8px;
      color: #0f418c;
  }
}

.banner-announce-image {
  height: 50px;
}

// COMMUN : SLIDESHOW
.slider {
  height: 30rem !important;
  .slides {
    height: 26rem !important;
  }
  .indicator-item {
    height: 1rem !important;
    width: 1rem !important;
    margin: 0 1rem !important;
  }
}

.slider .indicators .indicator-item.active {
  background-color: #E96A41;
}
// COMMUN : SLIDESHOW

.attachinary_container{
  
  margin-top: 20px;
}

.attachinary_container ul li{
  position:relative;
  display: inline-block;
  margin-right:10px;
}

.attachinary_container ul li a{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,.85);
}


.btn_submit_announces_new {
  width:100%;
  background-color:#0f418c;
  color:white;
}

.radio-inline {
  padding-left:40px;
}