.announces_new_html {

  input[type="text"] {
  width: 100% !important;
  }
  select {
  width: 100% !important;
  }
form
{
  display: block;
  margin: 30px;
  overflow: hidden;
  background: #FFF;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  font-size: 0;
}

@media(min-width:800px){
  form > div {
    display: inline-block;
  }
  form > div.col-submit {
    display: block;
  }
}

form > div > label
{
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-family: Source Sans Pro, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}

form > div.col-2, form > div.col-3, form > div.col-4 {
  border-bottom: 1px solid #E4E4E4;
}

@media(min-width: 800px){
  form > div.col-2, form > div.col-3, form > div.col-4 { box-shadow: 1px 1px #E4E4E4; border: none; }
}

@media(min-width:800px){
  form > div.col-2 { width: 50% }
  form > div.col-3 { width: 33.3333333333% }
  form > div.col-4 { width: 25% }
}

form > div > label > input
{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: transparent;
  font-size: 14px;
  font-weight: 200;
  opacity: .66;
  transition: opacity .3s, box-shadow .3s;
}

form > div.col-submit {
  text-align: center;
  padding: 20px;
}

form > div.col-submit button {
  border: 1px solid #E4E4E4;
  background: #A3CECE ;
  font-size: 14px;
  color: #fff;
  padding: 1em;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  text-transform: uppercase;
}

@media(min-width: 800px){
  form > div.col-submit button {
    width: 30%;
    margin: 0 auto;
  }
}

form > div.col-submit button:hover {
  background: #92BDBD;
}

form > div > label > select
{
  display: block;
  width: 100%;
  margin: 16px 0 6px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  opacity: .33;
}

form > div > label > input:focus, form > div > label > select:focus
{
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
}

.title-placeholder::-webkit-input-placeholder { /* WebKit browsers */
         color: #e4e4e4;
         opacity:  1;
  }

  .description-placeholder::-webkit-input-placeholder { /* WebKit browsers */
         color: #e4e4e4;
         opacity:  1;
  }

input::-webkit-input-placeholder {
color: #E4E4E4 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #E4E4E4 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #E4E4E4 !important;  
}
 
input:-ms-input-placeholder {  
color: #E4E4E4 !important;  
}

.couleur_titre {
  color:#939393;
}

.attachinary-input {
  color:red;
}

.photo_upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.photo_upload_label {
  padding: 8px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 1px;
  color: white;
  background-color: #0f418c;
  text-indent: 31px;
  border: 1px solid #ccc;
  width: 57%;
  display: inline-block;
  cursor: pointer;
    &:focus{
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
}

.photo_upload_label:focus, .photo_upload_label:hover {
  background-color: rgba(15,65,140,0.8);
}

.input-group {
    position: relative;
    width: 174%;
  i {
      position: absolute;
      left: 11px;
      top: 8px;
      color: white;
  }
}

.banner-announce-image {
  height: 50px;
}

// COMMUN : SLIDESHOW
.slider {
  height: 30rem !important;
  .slides {
    height: 26rem !important;
  }
  .indicator-item {
    height: 1rem !important;
    width: 1rem !important;
    margin: 0 1rem !important;
  }
}

.slider .indicators .indicator-item.active {
  background-color: #E96A41;
}
// COMMUN : SLIDESHOW


}