<div clas="container">
	<div class="row">
		Classe énergétique :<br><br><%= @announce.class_energy %>
        <%= image_tag @announce.class_energy_image %>
        <p><%= @announce.latitude %></p>
     </div>
</div>


	<div class="row">
		<div class="col-md-4">
	    	<div id="owl-demo" class="">
	      		<% @announce.photos.each do |photo| %>
	      			<li>
	        			<%= cl_image_tag photo.path,width: 400, height: 300 %>
	        		</li>
	      		<% end %>
	    	</div>
	    </div>
    </div>

   

    
 

  

      

