#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.item {
  height: 200px;
  //width: 100%;
  // background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 10px;
}